@import "reset";
body{
    width: 100%;
    height: 100%;
}

.head{
    height: 110px;
    background: url(../img/headbg.jpg) repeat-x left bottom;
    .container{
        width: 80%;
        min-width: 1200px;
        margin: 0 auto;
        @include clear;
        .hd-left{
            float: left;
            padding-top: 20px;
            @include clear ;
            .logo{
                float: left;
                width: 60px;
                height: 60px;
                padding-right: 30px;
                
            }
            .welcom{
                float: left;
                margin-top: 13px;
                font-size: 18px;
                line-height: 34px;
                padding-left: 30px;
                border-left: 1px solid rgb(187,187,187);
            }
        }
        .hd-right{
            float: right;
            padding-top: 50px;
            font-size: 16px;
            line-height: 30px;
            span.has{
                color: #b0b0b0;
            }
        }
    }
}

.main-reg{
    width: 100%;
    margin-top: 40px;
    .container{
        width: 70%;
        margin: 0 auto;
    }
    .content{
        width: 830px;
        margin: 0 auto;
        @include clear ;
    }
}

#register{
    float: left;
    width: 400px;
    .form-item{
        position: relative;
        z-index: 1;
        width: 398px;
        height: 52px;
        font-size: 14px;
        border: 1px solid #ddd;
        background: transparent;
        @include clear ;
        label{
            float: left;
            width: 90px;
            line-height: 52px;
            padding:0 10px;
            text-align: center;
        }
        input{
            float: left;
            border: none;
            outline: none;
            line-height: 20px;
            background: transparent;
            padding: 15px 0 15px 20px;
        }
        .inner{
            position: absolute;
            z-index: -1;
            display: block;
            left: 130px;
            top: 15px;
            line-height: 20px;
            color: #b0b0b0;
        }
        .correct{
            display: none;
            position: absolute;
            width: 16px;
            height: 16px;
            right: 20px;
            top: 20px;
            background: url(../img/1000000.png) no-repeat;
            background-position: 0 -117px;
        }
        .correct.current{
            display: block;
        }
        .phone-choose{
            float: right;
            width: 15px;
            height: 15px;
            margin-right: 13px;
            margin-top: 16px;
            background: url(../img/1000000.png) no-repeat;
            background-position: -2px -151px;
        }
        
    }
    .form-item.form-phone{
        label{
            width: 104px;
            border-right: 1px solid #ddd;
            padding-right: 0;
        }
        .mail-veri{
            position: absolute;
            display: block;
            right: 0;
            bottom: -18px;
            line-height: 18px;
            a{
                color: dodgerblue;
            }
        }
    }
    .form-indentify{
        a.code{
            position: absolute;
            display: block;
            right: 3px;
            top: 3px;
            padding: 10px 10px;
            width: 90px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            font-size: 16px;
            letter-spacing: 5px;
        }
    }
    .form-phonecode{
        .codeitem{
            position: absolute;
            display: block;
            top: 3px;
            right: 3px;
            width: 110px;
            height: 46px;
            font-size: 14px;
            background: #f2f2f2;
            text-align: center;
            line-height: 46px;
        }
    }
    .input-tips{
        width: 100%;
        height: 27px;
        padding-top: 5px;
        line-height: 27px;
        @include clear ;
        .tips{
           color: #b0b0b0;
           display: none;
        }
        .i-def{
            display: inline-block;
            margin-right: 8px;
            vertical-align: middle;
            margin-top: -2px;
            width: 16px;
            height: 16px;
            background: url(../img/1000000.png) no-repeat;
            background-position: 0 -100px;
        }
        .error{
            color: #e22;
            display: none;
        }
        .error.current,.tips.current{
            display: block;
        }
        .ic{
            @extend .i-def;
            background-position: -17px -100px;
        }
        
    }
    .form-agree{
        width: 100%;
        height: 21px;
        line-height: 21px;
        @include clear ;
        input{
            margin: 0;
            float: left;
            width: 18px;
            height: 20px;
        }
        span{
            float: left;
            padding-left: 10px;
            line-height: 21px;
            a{
                color: #0079F3;
            }
        }
    }
    .form-btn{
        position: relative;
        width: 400px;
        height: 54px;
        background: #e22;
        cursor: pointer;
        .btn-register{
            position: relative;
            z-index: 1;
            border: none;
            @extend .form-btn;
            background: transparent;
           
        }
        .fake{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
             color: #fff;
             text-align: center;
            font-size: 16px;
            line-height: 54px;
        }
    }
}
.reg-other{
    float: left;
    width: 213px;
    margin-left: 104px;
    padding-left: 90px;
    height: 605px;
    text-align: center;
    border-left: 1px solid rgb(230,230,230);
    .top{
        display: block;
        margin: 0 auto;
    }
    .contact{
        margin: 50px 0 0 30px;
        .global,.company{
           display: block;
           width: 125px;
           height: 30px;
           padding-left: 45px;
           font-size: 14px;
           .icon-c{
               margin-left: -45px;
               width: 30px;
               height: 30px;
               float: left;
               background: url(../img/1000000.png) no-repeat;
           }
        }
        .global .icon-c{
            background-position: -50px -50px ;
        }
        .global{
            border-top: 1px solid #ddd;
            margin-top: 30px;
            padding-top: 30px;
        }
        .company .icon-c{
            background-position: 0 -50px ;
        }
    }
    
}

.foot{
    width: 100%;
    margin-top: 50px;
    .container{
        margin: 0 auto;
        width: 80%;
        min-width: 1000px;
        border-top: 1px solid #e0e0e0;
        text-align: center;
    }
    .links{
        padding-top: 30px;
        padding-bottom: 15px;
        line-height: 22px;
        a{
            color: #999;
        }
        span{
            padding: 0 5px;
            color: #999;
        }
    }
    .copyright{
        padding-bottom: 40px;
        color: #999;
    }
}
